* {
    margin: 0cm;
    padding: 0cm;
}



/** MENU **/

.menu  {
        background-color: #228B22;
        height: 10vh
        }

.menu   {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
        }  
     
 







/** cabeçalho****/

a {
    color: white;
    text-decoration: none;
}
p {
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color: seagreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    display: flexbox;
}

h2{
    color: seagreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}












/** PRODUTOS **/

.pacotes {
 
    width: 100vw;
    height: 100vh;
    display: flex;      
    align-items: center;
    justify-content: center;
    overflow: hidden;
    }

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center
 }

 
   /**IMAGENS CARDS **/ 

 .card-image1 {
    grid-area: image;
    background: url("Chapada-guimaraes.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
     }

  
  .card-image2 {
        grid-area: image;
        background: url("Chapada-Diamantinaa.jpg");
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-size: cover;
 }   

 .card-image3 {
    grid-area: image;
    background: url("chapada-veadeiros.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}  

.card-image4 {
    grid-area: image;
    background: url("chapada-mesas.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}  


.card-image5 {
    grid-area: image;
    background: url("Chapada-Araripe.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}  


.card-image6 {
    grid-area: image;
    background: url("cataratas-foz.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}  

.card-image7 {
    grid-area: image;
    background: url("reveillon-rio.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-image8 {
    grid-area: image;
    background: url("carnaval-olinda.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-image9 {
    grid-area: image;
    background: url("festival-parintins.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

   /** TEXTOS CARDS **/ 

.card-text {
    grid-area: text;
    margin: 25px;

}
.card-text h3{
    margin-top: 0px;
    font-size: 24px;
}

.card-text p{
    color: rgb(29, 59, 42);
    font-size: 15px;
    font-weight: 300;
}


.card-text .incluso {
    color: rgb(211, 5, 5) ;
    font-size: 13px;
}

.btn-btn-primary {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(189, 36, 9);
}

#card-stats {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;

}





/**FORMULARIO **/

#subtitulo {
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(189, 36, 9);
    margin-left: 35%;
}

fieldset {
    margin: 0;
    background:rgb(224, 247, 224)
}



input, textarea, button {
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
    display: inline;
}

.campo label {
    margin-bottom: 0.2em;
    color:rgb(1, 15, 2);
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
    display: flow-root;
}

.campo input[type="text"] .campo input[type="email"]  .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #a495bb;
    box-shadow: 2px 2px 2px rgba(221, 224, 223, 0.904);
    display:block
}

.campo input {
    background: rgb(235, 233, 233);
}



/**final page **/


#contato  {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    size: 4;
    color: violet;   
}
#rodape  {
    text-align: center;
      
}
